/*RESET*/
* {
    margin: 0;
    padding: 0;
}

/*PROPRIÉTÉS GLOBALES*/
body {
    font-family: 'Roboto', serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

a:hover {
    color: lightgray;
}

#main-wrapper{
    width: 1080px;
    margin: auto;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
 header li:last-child {
     padding-left: 2em;
 }

/*MAIN*/

/*HEADINGS*/
#headings {
    position: relative;
    max-height: 470px;

}

#img-base {
    max-width: 100%;
}

#img-hover {
    position: relative;
    margin: auto;
    width: 180px;
    bottom: 300px;
    left: 450px;
}

#headings h1 {
    position: relative;
    display: inline-block;
    color: whitesmoke;
    bottom: 260px;
    left: 190px;
    font-weight: lighter;
}

/*ARTICLE*/

#who-we-are {
    width: 700px;
    margin: auto;
    margin-bottom: 1em;
    color: dimgray;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.3em;
}

#our-talents {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#testimonials {
    width: 700px;
    margin: auto;
}

#graphic {
    width: 30%;
}
#graphic img {
    width: 64px;
    display: block;
    margin: auto;
}

#graphic h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#graphic p {
    width: 85%;
    margin: auto;
    text-align: justify;
    font-size: 1em;
}

#strategy {
    width: 30%;
}

#strategy img {
    width: 64px;
    display: block;
    margin: auto;
}

#strategy h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#strategy p {
    width: 85%;
    margin: auto;
    text-align: justify;
    font-size: 1em;
}

#illustration {
    width: 30%;
}

#illustration img {
    width: 64px;
    display: block;
    margin: auto;
}

#illustration h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#illustration p {
    width: 85%;
    margin: auto;
    text-align: justify;
    font-size: 1em;
}

#testimonials {
    color: dimgray;
    text-align: justify;
    line-height: 1.4em;
    margin-bottom: 10px;
}
#author {
    text-align: center;
}

/*FOOTER*/
footer {
    background-color: #5B359D;
}

#copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFFFF9;
    font-size: 0.9em;
}

#socials {
    color: #FFFFF9;
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#footer-nav {
    color: #FFFFF9;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#footer-nav ul {
    list-style-type: none;

}

#footer-nav h3 {
    font-size: 0.9em;

}